body {
    max-width: 1440px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #FFF8F3;
    display: flex;
}

#header-part-1 {
    width: 150px;
}

#developer-text-img {
    margin: 25px;
}

#header-part-2 {
    width: 1290px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-right: 120px;
}

.nav-items {
    display: flex;
    align-items: center;
}

#banner {
    display: flex;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

#banner-text {
    margin-top: 80px;
}

#banner-buttons {
    margin-top: 30px;
}

#banner-image {
    padding-right: 40px;
}

#about {
    padding: 150px;
    margin: 130px 230px;
    background-color: #FFF8F3;
    border-radius: 10px;
}

#about-info-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text-center {
    text-align: center;
}

h1 {
    font-weight: 700;
    font-size: 70px;
    line-height: 20px;
}

h2 {
    font-weight: 800;
    font-size: 45px;
}

h3 {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}

a {
    text-decoration: none;
    color: #474747;
    margin-right: 50px;
}

.btn-primary {
    padding: 18px 30px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    margin-right: 30px;
}

.btn-primary-outline {
    padding: 17px 29px;
    color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    background-color: #FFF8F3;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
}

.text-primary {
    color: #FD6E0A;
}